<mat-card class="example-card" *ngFor="let bp of  blogPostList$ | async">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title><a [routerLink]="['/blog-posts', bp._id]">{{ bp.subTitle }}</a>{{ bp.title }}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ bp.image }}" alt="{{ bp.title }}">
    <mat-card-content>
        <p>
            {{ bp.content }}
        </p>
    </mat-card-content>
</mat-card>