<mat-card class="example-card" *ngIf="(blogpost$ |async ) as bp; else loading">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ bp.title }}</mat-card-title>
        <mat-card-subtitle>{{ bp.subTitle }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ bp.image }}"  alt="{{ bp.title }}" >
    <mat-card-content>
        <p>
            {{ bp.content }}
        </p>
    </mat-card-content>
</mat-card>

