
    <form [formGroup]="creationForm" #formDerctive="ngForm" (submit)="createBlogpost(formDerctive)">
        <div class="example-container">
            <mat-form-field>
                <input matInput placeholder="tiltle" formControlName="title" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="sub-title"  formControlName="subTitle" required>
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="content" formControlName="content" required></textarea>
            </mat-form-field>
            <button mat-button type="submit">create</button>
        </div>
    </form>



      