<mat-selection-list #blogposts>
  <mat-list-option class="color" *ngFor="let bp of blogposts$ | async">
    {{bp.title}}
  </mat-list-option>
</mat-selection-list> 

 <p>
    blog posts selected: {{blogposts.selectedOptions.selected.length}}
  </p>
  <app-create-blog></app-create-blog>
  